* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}
.container {
	border: 1px solid black;
	width: 800px;
	height: 900px;
	background-color: white;
}
#lbl {
	color: dodgerblue;

}

::-webkit-input-placeholder {
	font-size: 15px;
}
i.fa {
	font-size: 25px;
	position: absolute;
	left: 400px;
	top: 65px;
}
#success{
	color: green;
	display: none;
}

#error{
	color: red;
	display: none;
}
body{
	background-color: powderblue;

}
.form_width{
	width: 1000px;
}